@model IEnumerable<TodoApp10.Models.Todo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
  
}

<h2>Index</h2>

<p>
    <a href="Create" class="btn btn-primary width-100 mr-2 mb-3"><i class="fas fa-angle-right"></i> 新規作成</a>
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Done)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                <div id="ModalHere"></div>
                <button type="button" class="btn btn-success botton_for_openmodal mb-8" data-id="@item.Id" data-url="@Url.Action("ShowModal")"><i class="fas fa-edit fa-fw"></i> 解説</button>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success botton_for_openmodal mb-8"><i class="fas fa-edit fa-fw"></i> 詳細</a>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-edit"><i class="fas fa-chalkboard-teacher mr-1"></i> 編集</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-remove"><i class="fas fa-trash-alt fa-fw"></i> 削除</a>
            </td>
        </tr>
    }

</table>



<script>
    $(document).on("click", ".botton_for_openmodal", function () {


        var url = $(this).data('url');
        var id = $(this).attr('data-id');
        $.ajax({
            url: url + '/' + id,
            type: 'get',
            cache: false,
        })
            .done(function (response) {
                console.log(response);
                $("#ModalHere").html(response);
                $("#ModalHere").find('.modal').modal('show');
            })
            .fail(function (xhr) {
              console.log("failure");
            })
        
    })



</script>

